<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="alviansmaulana">

    <link rel="stylesheet" href="/public/dist/bootstrap5/css/bootstrap.css">
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    <link rel="stylesheet" href="/public/dist/custom/css/custom.css" >
    <link rel="stylesheet" href="/public/dist/fontawesome5/css/all.css" >

    <title>{{> components/title}}</title>
</head>
<body>
    {{{body}}}

    <script src="/public/dist/bootstrap5/js/bootstrap.min.js"></script>
    <script src="/public/dist/fontawesome5/js/all.js"></script>
</body>
</html>