{{> components/nav}}

<main>
    <div class="mb-md-4">
        <div class="container py-md-3 custom-main">
            <h1 class="my-1 text-light">MetalWazte.com, the best</h1>
            <h3 class="my-1 text-light">Connector Platform</h3>
            <p class="lead my-1 text-light">Scrapping Service - Decommissioning - Offshore Owner</p>
        </div>
    </div>

    <div class="container">
        <div class="row g-3">

            <div class="col-md-4 text-center">
                <img class="img-fluid" src="/public/images/products/dummy-porting.jpg" alt="Ship for sale">
                <br>
                <a class="btn btn-primary custom-btn-primary px-5 mt-3" href="/fleet"><b>View Details</b></a>
            </div>

            <div class="col-md-4 text-center">
                <img class="img-fluid" src="/public/images/register-bg.jpg" alt="Ship for sale">
                <br>
                <a class="btn btn-primary custom-btn-primary px-5 mt-3"><b>View Details</b></a>
            </div>

            <div class="col-md-4 text-center">
                <img class="img-fluid" src="/public/images/oilrig_today.jpg" alt="Ship for sale">
                <br>
                <a class="btn btn-primary custom-btn-primary px-5 mt-3"><b>View Details</b></a>
            </div>

        </div>
    </div>
</main>

{{> components/footer}}