<nav class="navbar navbar-light bg-light custom-navbar-bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">
        <img src="/public/images/metalwazte.png" alt="MetalWazte.com Main Logo" width="128" height="128">
    </a>
    
    <ul class="nav justify-content-end">
        <li class="nav-item custom-nav">
            <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item custom-nav">
            <a class="nav-link active" aria-current="page" href="#">Contact</a>
        </li>
        <li class="nav-item custom-nav">
            <a class="nav-link active" aria-current="page" href="/johndoe">Profile</a>
        </li>        
    </ul>
  </div>
</nav>

<main class="container mt-3">
    <div class="row g-3">

        <!-- Single card-->
        <div class="card mb-3 p-3" style="max-width: 500px;">
            <div class="row g-0">
                <div class="col-md-6">
                    <img src="/public/images/products/dummy-ship.png" class="img-fluid" alt="Product for sale">
                </div>
                <div class="col-md-6">
                <div class="card-body">
                    <h5 class="card-title"><b>General Cargo</b></h5>
                    <p class="card-text">
                        <b>Status:</b> <span class="badge bg-success">Available</span> <br>
                        <b>Build:</b> 1980 <br>
                        <b>Location:</b> Surabaya <br>
                        <b>Owner:</b> PT Teknologi Empat Daun
                    </p>
                </div>
                </div>
            </div>
            <div class="row g-0">
                <div class="col-md-6 mb-2">
                    <p class="card-text custom-price">
                        <b>Price: <br>
                        USD 540.000,-</b>
                    </p>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-primary" style="width: 100%;" href="/fleet/fleet_id"> 
                        Read More
                    </a>
                </div>
            </div>
        </div> <!-- End of single card -->

    </div> <!-- End of row sub-main -->
</main>