<section>
    <div class="container">
        <div class="d-flex flex-column align-items-center justify-content-center"  style="height: 100vh;">
            <h3 class="mb-3" style="color: #000080;"><b>Register</b></h3>
            <form class="p-4" style="border: 2px solid #000080; width:100%; max-width: 480px;">
                <div class="mb-2 d-flex flex-column align-items-center">
                    <label for="email" class="mx-2" style="color: #000080;"><b>Email</b></label>
                    <input class="form-control" type="email" id="email" name="email" placeholder="youremail@mail.com" required>
                </div>
                <div class="mb-2 d-flex flex-column align-items-center">
                    <label for="password" class="mx-2" style="color: #000080;"><b>Password</b></label>
                    <input class="form-control" type="password" id="password" name="password" placeholder="Account Password" required>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>                
            </form>            
            <p class="text-center my-0 mt-1" style="color: #000080;"><a href="/register">Sign up</a> if you dont have an account.</p>
            <p class="text-end"><a href="/">Home</a></p>
        </div>
    </div>
</section>