{{> components/nav}}

<main>
    <section class="container mt-3">
        <div class="row">
            <div class="col-md-7 d-flex flex-column justift-content-end">
                <h3 class="text-end">General Cargo 10.000 DWT</h3>
                <img class="img img-fluid mx-auto text-end" src="/public/images/products/dummy-ship.png"  alt="General Cargo 10000 DWT" width="360" style="max-width: 412px;">
                <p class="lead">
                    <b>Price <br>
                    USD 400000</b>
                </p>
            </div>
            <div class="col-md-5">
                <div class="card mb-3 p-3" style="max-width: 500px;">
                    <div class="row g-0">
                        <div class="col-md-12">
                        <div class="card-body">
                            <h5 class="card-title"><b>About Product</b></h5>
                            <p class="card-text">
                                <table class="table table-borderless">                                    
                                    <tbody>
                                        <tr>
                                            <th scope="row">Build</th>
                                            <td>Mark</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">LOA</th>
                                            <td>Mark</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Width</th>
                                            <td>Mark</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Height</th>
                                            <td>Mark</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Weight</th>
                                            <td>Mark</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Location</th>
                                            <td>Mark</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Owner</th>
                                            <td>Mark</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </p>
                        </div>
                        </div>
                    </div>
                    <div class="row g-2">
                        <div class="col-md-6 mb-2">
                            <a class="btn btn-primary" style="width: 100%;" href="/fleet/fleet_id"> 
                                <b>Chat Owner</b>
                            </a>
                        </div>
                        <div class="col-md-6 text-center">
                            <a class="btn btn-primary" style="width: 100%;" href="/fleet/fleet_id"> 
                                <b>Purchase</b>
                            </a>
                        </div>
                    </div>
                </div> <!-- End of single card -->
            </div>
        </div>
    </section>
</main>

{{> components/footer}}