<nav class="navbar navbar-light bg-light custom-navbar-bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">
        <img src="/public/images/metalwazte.png" alt="MetalWazte.com Main Logo" width="128" height="128">
    </a>
    
    <ul class="nav justify-content-end">
        <li class="nav-item custom-nav">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Home</a>
        </li>
        <li class="nav-item custom-nav">
            <a class="nav-link active" aria-current="page" href="/contact">Contact</a>
        </li>
        <li class="nav-item custom-nav">
            <a class="nav-link active" aria-current="page" href="/johndoe">Profile</a>
        </li>        
    </ul>
  </div>
</nav>